/* Return to top */

.rtt {
    width: 45px;
    height: 45px;
}

.topArrow {
    color: white;
    font-size: 16px;
}

/* Navigation Section */

.navul {
    flex-direction: column;
    position: absolute;
    margin: 0;
    left: 0;
}

.navLink {
    font-size: 22px;
}

.navig {
    height: 322px;
    flex-direction: column;
    transition: all 0.1s ease-out;
}

.profilePic {
    width: 50px;
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 70px;
    height: 30px;
}

.h-nav-resp {
    height: 80px;
}

.v-class-resp {
    display: none;
}

/* Home Section */

.home-background {
    margin-top: 100px;
    background-size: 100%;
}

.sentence {
    font-size: 30px;
}

.wrap {
    font-size: 25px;
}

/* About Seciton */

.abt-head {
    font-size: 50px;
}

.abt-cont {
    font-size: 16px;
    width: 80%;
}

/* Experience Seciton */

.exp-head {
    font-size: 50px;
}

/* Education Section */

.edu-head {
    font-size: 50px;
}

.edu-card {
    width: 80%;
}

.inst-name {
    font-size: 18px;
    font-weight: bold;
}

.edu-qualification {
    font-size: 12px;
}

.course-duration {
    font-size: 10px;
}

.grade {
    font-size: 12px;
}

.edu-logo-1 {
    width: 70px;
    height: 70px;
}

.edu-logo-2 {
    width: 70px;
    height: 70px;
}

/* Certification Section */

.certi-head {
    font-size: 42px;
}

/* Project Section */

.pro-head {
    font-size: 50px;
}

/* Skills Section */

.skills-section {
    height: auto;
}

.skill-head {
    font-size: 50px;
}

.skill-chip {
    font-size: 14px;
    padding: 8px 15px 8px 15px;
}

.skill-content {
    grid-template-columns: auto auto auto;
}

/* Awards Section */

.awards-head {
    font-size: 50px;
}

.awards-section {
    height: auto;
}

.award-content {
    grid-template-columns: 90%;
    gap: 20px;
}

/* Contact Section */

.contact-head {
    font-size: 50px;
}

/* Footer Section */

.footer-head {
    font-size: 14px;
}

.footer-navLink {
    font-size: 12px;
}

.social-icons {
    font-size: 14px;
}

/* Media Query */

@media screen and (max-width: 712px) {
    .skill-chips-div {
        white-space: nowrap;
        overflow-x: scroll;
    }

    .skill-content {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 484px) {
    .skill-chips-div {
        white-space: nowrap;
        overflow-x: scroll;
    }

    .skill-content {
        grid-template-columns: 95%;
    }
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    /* Experience */

    .job-title {
        font-size: 22px;
    }
    
    .company-details {
        font-size: 14px;
        color: #505964;
        padding-bottom: 0;
    }
    
    .duration {
        font-size: 12px;
    }

    /* Contact Section */

    .form-container {
        width: 90%;
    }
}

@media screen and (max-width: 310px) {
    .contact-head {
        font-size: 40px;
    }
}

@media screen and (max-width: 598px) {
    .footer-navul {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: auto auto;
    }

    .footer-navItem {
        text-align: center;
    }
}