/* Navigation Section */
.navul {
    flex-direction: column;
    position: absolute;
    margin: 0;
    left: 0;
    /* opacity: 1;
    height: 287px;
    transition: all 0.5s ease-out; */
    /* transition-delay: 0.3s; */
}

.navLink {
    font-size: 22px;
}

.navig {
    height: 253px;
    flex-direction: column;
    transition: all 0.1s ease-out;
}

.profilePic {
    width: 50px;
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu {
    width: 70px;
    height: 30px;
}

.h-nav-resp {
    height: 80px;
    /* opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-out; */
}

.v-class-resp {
    /* height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out; */
    /* transition-delay: 0.3s; */
    display: none;
}

/* Home Section */

.home-background {
    margin-top: 100px;
    background-size: 100%;
}

.sentence {
    font-size: 30px;
}

.wrap {
    font-size: 25px;
}

/* About Seciton */

.abt-head {
    font-size: 50px;
}

.abt-cont {
    font-size: 16px;
    width: 80%;
}

/* Education Section */

.edu-head {
    font-size: 50px;
}

.edu-card {
    width: 80%;
}

.inst-name {
    font-size: 18px;
    font-weight: bold;
}

.edu-qualification {
    font-size: 12px;
}

.course-duration {
    font-size: 10px;
}

.grade {
    font-size: 12px;
}

.edu-logo-1 {
    width: 70px;
    height: 70px;
}

.edu-logo-2 {
    width: 70px;
    height: 70px;
}

/* Project Section */

.pro-head {
    font-size: 50px;
}

/* Skills Section */

.skills-section {
    height: auto;
}

.skill-head {
    font-size: 50px;
}

.skill-chip {
    font-size: 14px;
    padding: 8px 15px 8px 15px;
}

.skill-content {
    grid-template-columns: auto auto auto;
}

/* Awards Section */

.awards-head {
    font-size: 50px;
}

.awards-section {
    height: auto;
}

.award-content {
    grid-template-columns: 90%;
    gap: 20px;
}

/* Contact Section */

.contact-head {
    font-size: 50px;
}

/* Media Query */

@media screen and (max-width: 712px) {
    .skill-chips-div {
        white-space: nowrap;
        overflow-x: scroll;
    }

    .skill-content {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 484px) {
    .skill-chips-div {
        white-space: nowrap;
        overflow-x: scroll;
    }

    .skill-content {
        grid-template-columns: 95%;
    }
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 50%;
    }
}

@media screen and (max-width: 425px) {
    .form-container {
        width: 90%;
    }
}

@media screen and (max-width: 310px) {
    .contact-head {
        font-size: 40px;
    }
}