/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Navigation section */
.nav-section {
    /* background-color: rgb(223, 240, 255); */
    /* background-color: rgb(121, 175, 255); */
    /* background-color: rgb(241 241 241); */
    /* background-color: rgb(167, 205, 255); */
    background-color: #4d94ff;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 3;
    width: 100%;
}

.navig {
    display: flex;
    padding: 15px;
    align-items: center;
}

.profilePic {
    width: 56px;
    height: 50px;
    background-image: url('Images/profile.jpg');
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.navul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    width: 100%;
}

.navItem {
    list-style: none;
}

.navLink {
    text-decoration: none;
    /* color: rgb(0, 20, 46); */
    color: white;
    padding: 10px;
    font-size: 20px;
    /* font-weight: 600; */
}

.navLink:hover {
    /* color: rgb(18, 61, 117); */
    color: rgb(207 228 255);
}

.burger {
    width: 33px;
    height: 50px;
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line {
    background-color: white;
    width: 33px;
    height: 4px;
    margin: 3px 5px;
}

/* Home Section */
.home-section {
    position: relative;
    height: 95vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-background {
    width: 110%;
    height: 110%;
    background: url("Images/home-background.png");
    background-size: 35%;
    background-position: 50% 50%;
    position: absolute;
    left: -10%;
    top: -10%;
}

.content {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sentence {
    z-index: 1;
    font-size: 50px;
    font-weight: bold;
}

.wrap {
    z-index: 1;
    font-size: 35px;
}

.typewrite {
    z-index: 1;
}

.downloadResume {
    z-index: 1;
    background-color: rgb(77, 148, 255);
    border: none;
    width: 200px;
    padding: 10px;
    border-radius: 40px;
    margin-top: 20px;
    color: white;
    font-size: 16px;
}

.downloadResume:hover {
    background-color: rgb(133, 182, 255);
    cursor: pointer;
}

/* About Section */